<div class="container">
<!--  <div>-->
<!--     Interpolation :-->
<!--     {{title}}-->
<!--  </div>-->
<!--  <div>-->
<!--    Property binding :-->
<!--    <button [disabled]="isDisabled">Click me</button>-->
<!--  </div>-->
<!--  <div>-->
<!--    event binding :-->
<!--    <button (click)="onButtonClick()">Click me</button>-->
<!--  </div>-->
<!--  <div>-->
<!--    two-way data binding :-->
<!--    <input [(ngModel)]="username" placeholder="Enter your username">-->
<!--    {{username}}-->
<!--  </div>-->
</div>
